<div class="mb-3">
<label for="prdCat" class="form-label">Category:</label>
<select  class="form-control" name="cat" id="prdCat"[(ngModel)]="selectedCatID" >
    <option *ngFor="let cat of catList " [value]="cat.id" >{{cat.name}}</option>
</select>
</div>
<div class="text-secondary">
    [to be removed] for test:{{selectedCatID}}
    <button type="button" class="btn-secondary" (click)="changeCat()" >Change Category</button>
</div>
<hr>
<table class="table table-sm" >
    <thead >
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image</th>
        <th>av. Quantity</th>
        <th>Price</th>
        <th>Count</th>
        <th>Buy</th>
    </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let prd of prdList" class="custom-table-row" [class.bg-warning]="prd.quantity==0"> -->
        <tr *ngFor="let prd of prdList"[class.d-none]="selectedCatID!=prd.categoryID" >
          <!-- save navigation operator -->
        <td>{{prd?.id}}</td>
        <td>{{prd.name}}</td>
        <td><img [src]="prd.imgURL" alt=""></td>
        <td>{{prd.quantity}}</td>
        <td>{{prd.price}}</td>
        <!-- templat varible  -->
        <td><input  #itemsCount  type="number" class="form-control"></td>
        <td><button class="btn btn-secondary"  type="button" (click)="buy(prd.price ,itemsCount.value)">Buy</button></td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h3>Order total price : {{orderTotalPrice}}</h3>